#features {
    padding: var(--section-padding);
    background-color: var(--sec-bg);
}

.feature-heading {
    font-size: var(--card-heading-font);
    font-weight: normal;
    color: var(--light-text) !important;
}

#features .my-card-img {
    width: 100%;
    height: 350px;
    border-radius: 6px 6px 0 0;
}

#features .card-body {
    padding: 20px 0;
    background-color: var(--sec-color);
    border-radius: 0 0 6px 6px;
    transition: .3s;
}

#features .card:hover .card-body {
    background-color: var(--main-color);
}


/* Media Queries */
@media (max-width: 1199px) {
    #features .my-card-img {
        height: 300px;
    }
}

@media (max-width: 991px) {
    #features .my-card-img {
        height: 250px;
    }

    #features .card:hover .card-body {
        background-color: var(--sec-color);
    }
}

@media (max-width: 767px) {
    #features .my-card-img {
        height: 350px;
    }
}

@media (max-width: 575px) {
    #features .my-card-img {
        height: 270px;
    }
}