#home, #home img {
    height: 100vh !important;
}


/* Media Queries */
@media (max-width: 991px) {
    #home, #home img {
        height: 550px !important;
    }
}

@media (max-width: 767px) {
    #home, #home img {
        height: 450px !important;
    }
}

@media (max-width: 575px) {
    #home, #home img {
        height: 310px !important;
    }
}