:root {
    --main-color: #034563;
    --sec-color: #42C2FF;

    --main-bg: rgb(241, 247, 250);
    --sec-bg: #fff;

    /* --btn-color: #048fd1;
    --btn-color-hover: #047cb5; */

    --light-text: #fff;
    --light-text-sec: #ebf3f7;

    --dark-text: #000;
    --dark-text-sec: rgb(50, 50, 50);

    --gallery-shadow: rgba(0, 0, 0, 0.5);

    --section-padding: 60px 5% !important;
    --nav-pl: 5% !important;
    --nav-pr: 5% !important;

    --card-heading-font: 25px !important;
}

.section-heading {
    font-size: 50px !important;
    margin-bottom: 35px;
    text-align: center;
    font-weight: normal;
}


/* Media Queries */
@media (min-width: 1400px) {
    :root {
        --section-padding: 60px 10% !important;
        --nav-pl: 10% !important;
        --nav-pr: 10% !important;
    }
}

@media (max-width: 1199px) {
    :root {
        --card-heading-font: 22px !important;
    }
}

@media (max-width: 991px) {
    :root {
        --card-heading-font: 20px !important;
    }

    .section-heading {
        font-size: 40px !important;
        margin-bottom: 35px;
    }
}