:root {
    --nav-bg: #034563;
    --underline-color: #42C2FF;
    --btn-color: #048fd1;
    --btn-color-hover: #047cb5;

    --main-bg: #034563;
    --sec-bg: #ebf3f7;

    --main-color: rgba(195, 232, 250);
    --sec-color: #ebf3f7;
}

.body-bg {
    background-color: #daf5f4;
}

* {
    padding: 0;
    margin: 0;
    transition: 0.3s;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, serif;
}

section, nav {
    font-family: Poppins, sans-serif;
}

.section-height {
    height: 35em;
}