#navbar {
    padding-left: var(--nav-pl);
    padding-right: var(--nav-pr);
    background-color: var(--main-color) !important;
}

.navbar-brand {
    color: var(--light-text) !important;
}

#navbar .nav-link {
    color: var(--light-text) !important;
}