#pricing {
    padding: 80px 0 !important;
    height: auto;
    background-color: var(--sec-bg);
}

.pricing-card-width {
    width: 30%;
}

.pricing-header {
    text-align: center;
    padding: 25px;
    background-color: var(--main-bg);
    color: white;
}

.pricing-header h4 {
    margin-bottom: 0;
}

.pricing-img-holder img {
    width: 100%;
    height: 15em;
}

.price {
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
    padding: 15px 0;
}

.desc-body {
    background-color: var(--main-bg);
    color: white;
    padding: 15px 0 0;
    height: 8em;
    text-align: center;
}

.agent-btn {
    background-color: var(--btn-color);
    border: none;
    padding: 7px 15px;
    width: 100%;
    margin: 0 auto;
    border-radius: 0 !important;
    color: white;
}

.agent-btn:hover {
    background-color: var(--btn-color-hover);
}

#pricing .card:hover .pricing-header {
    background-color: var(--underline-color);
}

#pricing .card:hover .desc-body {
    background-color: var(--underline-color);
}

@media screen and (max-width: 992px) {
    #pricing {
        padding: 60px 0 !important;
    }

    .pricing-header {
        padding: 20px;
    }

    .pricing-header h4 {
        font-size: 20px !important;
    }

    .pricing-img-holder img {
        height: 13em;
    }

    .price {
        font-size: 28px;
        padding: 13px 0;
    }

    .desc-body {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    #pricing {
        padding: 40px 0 !important;
    }

    .pricing-img-holder img {
        height: 11em;
    }

    .price {
        font-size: 25px;
        padding: 11px 0;
    }
}

@media screen and (max-width: 576px) {
    .pricing-card-width {
        width: 80%;
        margin: 0 auto 20px;
    }

    .pricing-img-holder img {
        height: 15em;
    }
}